a {
  transition: color 0.4s ease, background-color 0.4s ease;
}
p {
  margin-bottom: 0;
}

hr.lg {
  margin-top: $hr-margin-y * 3;
  margin-bottom: $hr-margin-y * 3;
}

h1 {
  line-height: 0;
}

.error404 {
  .top-banner {
    display: none;
  }
  #primary {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.thank-you {
  padding-top: 100px;
  padding-bottom: 100px;
}

.slick-dots {
  > li:only-child {
    display: none;
  }
}

// let footer stick to the bottom
.home-html {
  height: 100%;
  .splash-page-content {
    @include media-breakpoint-up("xl") {
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
  }
  body {
    height: 100%;
    #page {
      min-height: 100%;
      position: relative;
      footer {
        @include media-breakpoint-up("xl") {
          position: absolute;
        }
        width: 100%;
        bottom: 0;
      }
    }
  }
  .lg-scroll-to-top {
    display: none;
  }
}

//font weight classes
.font-500 {
  font-weight: 500 !important;
}

.font-600 {
  font-weight: 600 !important;
}

.font-700 {
  font-weight: 700 !important;
}

.btn-primary {
  &:hover {
    color: theme-color("primary");
    background-color: #fff;
  }
}

.grid-2-column {
  .text-editor {
    @include media-breakpoint-down(sm) {
      margin-top: 15px;
    }
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6 {
    @include media-breakpoint-down(sm) {
      margin-bottom: 10px;
    }
  }
}

.btn-outline-primary {
  @extend .btn;
  padding: 0.4rem 2rem;
  border: 2px solid theme-color("primary");
}

#site-content .blog {
  margin-top: 2rem;
}

.blog {
  margin-top: 0;
  .widget-area {
    padding-top: 0;
    .widget .widget-title {
      border: none;
      background-color: theme-color("primary");
      padding: 1rem;
      text-transform: capitalize;
    }
    @include media-breakpoint-down(sm) {
      padding-top: 2rem;
    }
  }
}

.blog .arrow-link {
  color: theme-color("primary") !important;
}

::placeholder {
  color: theme-color("theme-light-gray") !important;
}

select {
  color: theme-color("theme-light-gray") !important;
}

select option[selected="selected"] {
  color: theme-color("theme-light-gray") !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-bottom: 1rem;
}

input,
textarea,
select {
  border-radius: 5px;
  border: 1px solid black;
  padding: 5px 10px !important;
}
/************ general settings ************/
// .dropdown:hover>.dropdown-menu {
//   display: block;
// }

// .dropdown>.dropdown-toggle:active {
//   /*Without this, clicking will make it sticky*/
//     pointer-events: none;
// }

// take away the float left from blog page
.single-blog-main {
  .alignleft {
    float: none;
  }
}

.gform_wrapper .field_sublabel_below .ginput_complex.ginput_container label {
  display: none !important;
}

.gform_wrapper .has_street {
  .address_line_1 input,
  .address_line_2 input,
  .address_city input,
  .address_state input {
    margin-bottom: 15px;
  }
}

.gform_wrapper .show-label .gfield_label {
  display: inline-block !important;
}

.smaller-text-container {
  .text-editor {
    max-width: 700px;
    margin: auto;
  }
}

.underline-text {
  text-decoration: underline;
}

.pdf-list-style {
  &::before {
    content: "";
    background-image: url("/wp-content/themes/wp-web-designroof/assets/dist/images/adobe-pdf-icon.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
    display: inline-block;
    margin-right: 10px;
    margin-top: 2px;
  }
}

.title-bottom-border {
  border-bottom: 1px solid theme-color("lighter-gray");
}

.light-gray-top-border {
  .container {
    border-top: 1px solid theme-color("lighter-gray");
  }
}

.single-accordian {
  border-bottom: 1px solid theme-color("light");
  h3 {
    font-size: 1.1rem;
    margin-bottom: 0px;
  }

  p {
    font-size: 15px;
  }

  .collapsed {
    color: black;
  }
  .trigger-collapse {
    width: 100%;
    display: flex;
    justify-content: space-between;
    @extend .px-0;
  }
}

.home {
  #site-content {
    min-height: inherit !important;
  }
}

.home-html {
  margin-top: 0 !important;
}

.has-multi-cta {
  .text-editor {
    .btn {
      margin-bottom: 1rem;
    }
  }
}

.lg-testimonial-controls {
  li {
    background-color: theme-color("theme-light-gray") !important;
    border: 0 !important;
    &.active {
      background-color: theme-color("theme-gray") !important;
    }
  }
}

/************ header section ************/
#site-header .header-main {
  padding: 0px;
}

#site-header .header-main .site-branding {
  @extend .py-3;
  .logo {
    width: 120px;
    @include media-breakpoint-down(sm) {
      width: 100px;
    }
  }
  .mobile-toggle i:before {
    color: #fff;
  }
}

header .header-main .main-navigation #main-navbar > #menu-main-menu > li {
  @include media-breakpoint-down(md) {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
}

header
  .header-main
  .main-navigation
  #main-navbar
  > #menu-main-menu
  > .nav-req-quote {
  &:hover {
    background-color: transparent;
  }
  .btn-primary {
    border: 2px solid theme-color("primary");
  }
  .btn-primary:hover {
    background-color: #fff !important;
  }
}

#main-navbar {
  ul {
    li {
      a {
        color: white;
        font-size: 13px;
      }
    }
    .nav-req-quote {
      @include media-breakpoint-down(lg) {
        display: none;
      }
    }
    .mobile-nav-item {
      @include media-breakpoint-up(lg) {
        display: none;
      }
    }
  }
}

.dropdown-menu {
  border: none;
  & > .sub-menu-left,
  .sub-menu-right {
    display: none;
  }
}
.header-to-detail {
  background-color: #545454 !important;
  display: none;
  @include media-breakpoint-up(xl) {
    display: block;
  }
}

header {
  .splash-header {
    .nav-second-roof,
    .nav-first-roofing {
      margin: auto;
      width: 50%;
      @include media-breakpoint-down(sm) {
        margin-bottom: 1rem;
      }
      a:hover {
        color: theme-color("primary") !important;
      }
    }
    img {
      width: 150px;
    }
  }

  .header-main {
    -webkit-box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.75);
    position: relative;
    nav {
      position: static;
    }
    .main-navigation {
      position: static;
      #main-navbar > #menu-main-menu > li {
        @extend .py-4;
        &:hover {
          background-color: #333333;
        }
        position: static;
        .btn-primary {
          background-color: theme-color("primary") !important;
          &:hover {
            background-color: transparent !important;
            border: 2px solid theme-color("primary");
            color: theme-color("primary") !important;
          }
        }
        > .dropdown-toggle:after {
          display: none;
        }
        & > .dropdown-menu {
          position: absolute;
          @include media-breakpoint-down(md) {
            position: relative;
          }
          width: 100%;
          &.show {
            display: flex;
            justify-content: center;
            @include media-breakpoint-down(md) {
              justify-content: flex-start;
            }
          }
          & > .dropdown-menu {
            position: static;
            .dropdown-item {
              font-size: 15px;
              &:hover {
                color: theme-color("theme-light-gray");
              }
            }
          }
          & > .dropdown-menu:first-of-type {
            border-right: 2px solid white;
            @include media-breakpoint-down(md) {
              border: none;
            }
          }
          & > .dropdown-menu:nth-of-type(2) {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            @include media-breakpoint-down(md) {
              display: none;
            }
          }
        }
      }
    }
  }
  .header-social-media {
    display: none;
    @include media-breakpoint-up(xl) {
      display: block;
    }
    .lg-social-media {
      display: flex;
      align-items: center;
      margin-bottom: 0;
      padding-left: 0;
      @extend .mx-3;
      li {
        list-style: none;
        padding-left: 5px;
        padding-right: 5px;
        a {
          &:hover {
            i::before {
              color: theme-color("primary");
            }
          }
          i {
            &::before {
              color: white;
            }
          }
        }
      }
    }
  }
}

.mobile-utility-bar {
  background-color: theme-color("white");
  .lg-social-media {
    display: flex;
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    li {
      padding-left: 10px;
    }
  }
}

.utility-bar {
  @include media-breakpoint-down(md) {
    display: none;
  }
  .emergency-repair {
    a:hover,
    a:focus {
      color: theme-color("primary") !important;
    }
  }
  .utility-menu {
    .header-to-detail {
      a:hover {
        color: theme-color("primary") !important;
      }
    }

    #menu-utility-menu {
      @include media-breakpoint-down(lg) {
        margin-right: 15px;
      }
      display: flex;
      align-items: center;
      margin-bottom: 0;
      li {
        list-style: none;
        @extend .ml-3;
        a:hover {
          color: theme-color("primary") !important;
        }
      }
    }
  }
}

.splash-top-banner {
  .splash-top-banner-image {
    width: 100%;
    img {
      width: 100%;
      height: 500px;
      object-fit: cover;
      @include media-breakpoint-down(sm) {
        height: 500px;
      }
    }
    .splash-overlay {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 2rem;
      > * {
        z-index: 99;
      }
      &:before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.4);
        width: 100%;
        height: 100%;
        z-index: 50;
      }
    }
    .splash-second-overlay-phone {
      bottom: 0;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.6);
      @include media-breakpoint-down(sm) {
        flex-direction: column;
      }
    }
    .splash-first-overlay-phone {
      bottom: 0;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.6);
      @include media-breakpoint-down(sm) {
        flex-direction: column;
      }
    }
    .splash-second-overlay-phone,
    .splash-first-overlay-phone {
      display: none !important;
    }
    .splash-mobile-logo {
      display: none;
    }
  }
}

.home .top-banner {
  .slick-list {
    img {
      height: 65vh;
      @include media-breakpoint-down(xs) {
        height: 100vh;
      }
      object-fit: cover;
    }
  }
}

.top-banner {
  padding-top: 50px;
  padding-bottom: 50px;
  &#home-top-banner {
    padding-top: 150px;
    padding-bottom: 150px;
    @include media-breakpoint-down("sm") {
      padding-top: 50px;
      padding-bottom: 50px;
    }
  }
  &::after {
    position: absolute;
    content: "";
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    left: 0;
    top: 0;
  }
  .lg-gallery {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    .slick-list {
      height: 100% !important;
      .slick-track {
        height: 100%;
      }
    }
  }

  position: relative;
  .slick-slider {
    .slick-next {
      right: 35px;
    }
    .slick-prev {
      left: 35px;
    }
    .slick-arrow {
      z-index: 199;
      @include media-breakpoint-down(sm) {
        display: none !important;
      }
    }
  }
  .slick-dots {
    bottom: 10px;
    z-index: 199;
    li button:before {
      font-size: 2rem;
    }
  }
  .slick-list {
    //height: auto !important;
    img {
      height: 100%;
      object-fit: cover;
    }
  }

  .top-banner-overlay {
    position: relative;
    z-index: 99;
    padding: 30px 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    h2 {
      @extend .mb-3;
    }
  }
  .header-quote {
    .btn-primary {
      background-color: theme-color("primary") !important;
      color: white;
      &:hover {
        background-color: transparent !important;
        color: theme-color("primary") !important;
      }
    }
  }
}

/********************  end of header ************************/
/********************  home ************************/
.why-us .card {
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 2px 6px #e7e7e7;
  border-top: 4px solid theme-color("primary");
  height: 100%;
  .h6 {
    font-size: 15px;
  }
  p {
    font-size: 14px;
  }
}

.areas-of-expertise-section {
  margin-right: 0;
  margin-left: 0;
}

#home-services {
  .nav-tabs {
    border-bottom: none;
  }
}

.home-service-title {
  flex: 1 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  // a:first-child {
  // 	@extend .active;
  // }
  .active {
    background-color: theme-color("primary") !important;
    width: 100%;
    height: 100%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &::after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    position: absolute;
    bottom: -10px;
    border-color: #122d50 transparent transparent transparent;
    display: none;
  }
  &:hover {
    background-color: theme-color("primary") !important;
    cursor: pointer;
    a {
      color: #fff;
    }
    &::after {
      display: block;
    }
  }
  &:not(:first-child):not(:last-child) {
    @extend .mx-2;
  }
}

.home-services-contents {
  .home-service-content {
    &:last-child {
      display: none !important;
    }
    div {
      .home-short-image {
        position: relative;
        &:before {
          content: "";
          width: calc(100% - 30px);
          height: 105%;
          border: 1px solid theme-color("lighter-gray");
          position: absolute;
          bottom: -10px;
          left: 20px;
          z-index: -99;
        }
        img {
          width: 100%;
        }
      }
    }
  }
}

/********************  end of home ************************/

/****************** resources page interactive content *******************/

.interactive-titles {
  padding: 30px;
  background-color: #f4f4f4;
  li {
    line-height: 2.5;
  }
}

#interactive-container {
  position: relative;
  margin-bottom: 30px;
  .row {
    height: 100%;
  }
  .interactive-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 30px;
    color: theme-color("white");
    opacity: 0;
    z-index: -1;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .interactive-overlay-content {
      align-self: center;
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        color: theme-color("white");
      }
    }
    .close-overlay {
      position: absolute;
      top: 20px;
      right: 20px;
      color: theme-color("white");
      font-weight: bolder;
      font-size: 20px;
      padding: 15px 24px;
      transition: all 0.4s ease-in-out;
      &:hover {
        background-color: rgba(#000, 0.8);
      }
    }
  }
  .active-interactive-overlay {
    opacity: 1;
    z-index: 1;
  }

  svg a {
    circle,
    text {
      transition: all 0.4s ease-in-out;
    }
  }

  svg a:hover {
    circle {
      fill: black !important;
    }
    text {
      fill: #fff !important;
    }
  }
}

/******************** services page *****************************/
.tax-service-category {
  .service-short-description {
    .short-description-extra {
      .hide-on-service {
        display: none;
      }
    }
    .short-description {
      .hide-on-service {
        display: none;
      }
    }
  }
}

.service-category-info-wrapper {
  @include media-breakpoint-down("sm") {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.key-info-image img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.single-service-details {
  .single-service-detailed-image {
    img {
      width: 150px;
      height: 150px !important;
      border-radius: 50%;
      height: 100%;
      display: block;
      margin: auto;
      object-fit: cover;
    }
  }
  .single-service-detailed-content {
    h3 {
      @extend .my-3;
    }
  }
}

.service-form {
  > div {
    margin-top: 0px;
  }

  .gform_wrapper ul li.gfield {
    margin-top: 20px;
    .ginput_container_address {
      .address_line_1 {
        input {
          margin-top: 5px;
        }
      }
      .address_line_2 {
        input {
          margin-bottom: 25px;
          @media only screen and (max-width: 640px) {
            margin-bottom: 0px;
            margin-top: 0px;
          }
        }
      }
      .address_city {
        input {
          margin-bottom: 15px;
          @media only screen and (max-width: 640px) {
            margin-bottom: 0px;
            margin-top: 0px;
          }
        }
      }
    }
  }
  .gform_wrapper .top_label div.ginput_container {
    margin-top: 0px;
  }
  .gform_footer input[type="submit"] {
    background-color: theme-color("primary") !important;
    color: #fff;
    padding: 0.4rem 2rem !important;
    &:hover {
      background-color: #fff !important;
      color: theme-color("primary") !important;
    }
  }
  label {
    display: none !important;
  }

  select {
    background-color: transparent;
  }

  input,
  textarea,
  select {
    border-radius: 5px;
    border: 1px solid black;
    padding: 5px 10px !important;
  }

  .address_line_2 {
    input {
      margin-top: 15px;
      margin-bottom: 15px;
    }
  }

  .service-phone {
    display: inline-block;
    @include media-breakpoint-down(sm) {
      display: block;
      width: 100%;
    }
    width: 50%;
    input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]):not([type="button"]):not([type="image"]):not([type="file"]) {
      width: 100%;
    }
  }
  .service-company {
    display: inline-block;
    width: 50%;
    @include media-breakpoint-down(sm) {
      display: block;
      width: 100%;
    }
    input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]):not([type="button"]):not([type="image"]):not([type="file"]) {
      width: 100%;
    }
  }
}

/*********************  contact page  ************************/
.contact-section {
  .flexible_2_column_grid > div:last-child {
    order: 1;
  }
  .lg-social-media {
    display: flex;
    list-style: none;
    justify-content: flex-start;
    padding-left: 0;
    li {
      padding-right: 15px;
      a i {
        font-size: 22px;
      }
    }
  }
  .gform_wrapper ul li.gfield {
    margin-top: 25px;
  }
  .gform_wrapper .top_label div.ginput_container {
    margin-top: 0px;
  }
  form {
    label {
      display: none !important;
    }

    input,
    textarea,
    select {
      border-radius: 5px;
      border: 1px solid black;
      padding: 5px 10px !important;
    }

    .contact-field-subject {
      display: inline-block;
      width: 50%;
      @include media-breakpoint-down(sm) {
        display: block;
        width: 100%;
      }
      input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]):not([type="button"]):not([type="image"]):not([type="file"]) {
        width: 100%;
      }
    }
    .contact-field-phone {
      display: inline-block;
      width: 50%;
      @include media-breakpoint-down(sm) {
        display: block;
        width: 100%;
      }
      input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]):not([type="button"]):not([type="image"]):not([type="file"]) {
        width: 100%;
      }
    }
    .gform_footer input[type="submit"] {
      background-color: theme-color("primary") !important;
      color: #fff;
      padding: 0.4rem 2rem !important;
      &:hover {
        background-color: #fff !important;
        color: theme-color("primary") !important;
      }
    }
  }
}

/*********************  career  *********************/
.why-join {
  .lg-collapse {
    .collapse-section {
      .collapse-item {
        h2 {
          background-color: transparent;
          display: flex;
          justify-content: space-between;
          font-weight: 700;
          &:after {
            font-family: "Font Awesome 5 Free";
            content: "\f078";
            font-weight: 900;
          }
        }
        > div {
          display: none !important;
        }
        .show-collapse-item {
          display: block !important;
        }
      }
    }
  }
}

.company-benefit {
  .company-benefit-image {
    img {
      display: block;
      margin: auto;
      width: 50px;
    }
  }
}

.application-form {
  form {
    .has_zip .address_zip input {
      margin-top: 0;
    }
  }
}

.application_button {
  display: none;
}

/************ gallery page *****************/
.gallery-grid {
  .grid-item > div {
    position: relative;
    height: 100%;
    &:hover .gallery-content {
      height: 100%;
    }
    .gallery-img {
      height: 200px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .gallery-content {
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        color: theme-color("white");
      }
      color: theme-color("white");
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 0;
      overflow-y: hidden;
      background-color: rgba(0, 0, 0, 0.4);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      @extend .px-3;
    }
  }
}
/************ end of gallery page *****************/

/******************  footer-wrapper  ********************/
#site-footer #site-legal {
  background-color: #212529;
  a:hover {
    color: theme-color("theme-light-gray");
  }
}
.footer-wrapper {
  h3 {
    color: white;
  }
  ul {
    padding: 0;
    li {
      list-style: none;
      @extend .pb-2;
      a {
        color: #fff;
        &:hover {
          color: theme-color("theme-light-gray");
        }
      }
    }
  }
}

.splash-footer-social {
  .lg-social-media {
    display: flex;
    list-style: none;
    margin-bottom: 0px;
    li a {
      color: #fff;
      @extend .pl-3;
    }
  }
}

/************************  careers  ********************************/

.job_listings {
  input[type="text"] {
    display: block;
  }
  .search_keywords {
    margin-bottom: 1rem;
  }
  .search_location {
    margin-bottom: 1rem;
  }

  .search_submit {
    margin-bottom: 1rem;
    input[type="submit"] {
      border: none;
      background-color: theme-color("primary");
      color: #fff;
      padding: 0.75rem 2rem;
    }
  }

  .job_types {
    list-style: none;
    padding-left: 0;
  }
}

.office-job {
  .office-job-text {
    @extend .mb-3;
    @include media-breakpoint-up(md) {
      width: 70%;
    }
  }
}

.office-job-title {
  cursor: pointer;
  .rotate-arrow {
    transform: rotate(180deg);
  }
}

.office-job-content {
  display: none;
}

.show-office-content {
  display: block;
}
/*****************************   Testimonials  ********************************/
.testimonial-content {
  .card {
    box-shadow: 0 2px 6px #e7e7e7;
    border-radius: 5px;
  }
}

/********************* blog page pagination *******************/

.single-post-pagination {
  > a {
    border: 1px solid theme-color("primary");
    padding: 0.5rem;
    &:hover {
      background-color: theme-color("primary");
      color: theme-color("white");
    }
  }
}

.pagination-lg {
  padding-bottom: 2rem;
  .page-item {
    > * {
      border: 1px solid theme-color("primary");
      padding: 0.5rem;
      &:hover {
        background-color: theme-color("primary");
        color: theme-color("white");
      }
    }
    @include media-breakpoint-down("sm") {
      &:not(:first-child):not(:last-child) {
        display: none;
      }
    }

    &:not(:last-child) {
      margin-right: 0.5rem;
    }
  }
}

/*********************  responsiveness  ****************************/
@media screen and (max-width: 1023px) {
  #home-services {
    .service-tablist-wrapper {
      display: none;
    }
    .tab-content > .tab-pane {
      display: block;
      opacity: 1;
    }
  }
  .splash-header {
    display: none;
  }
  .splash-banner-wrappers {
    flex-direction: column;
  }
  .splash-top-banner .splash-top-banner-image .splash-first-overlay-phone,
  .splash-top-banner .splash-top-banner-image .splash-second-overlay-phone {
    display: block !important;
  }
  .splash-top-banner .splash-top-banner-image .splash-mobile-logo {
    display: block;
    margin: auto;
    width: 150px;
    height: auto;
  }

  .home-service-content {
    margin-top: 2rem;
    > div > div:first-child {
      order: 2;
    }
    h3 {
      margin-top: 1rem;
      margin-bottom: 0.75rem;
    }
  }

  .interactive-titles {
    display: none !important;
  }

  #svg-container {
    .svg-element {
      display: none;
    }
    .tab-content > .tab-pane {
      .close-overlay {
        display: none;
      }
      &.interactive-overlay {
        position: static;
        background-color: transparent;
        color: #212529;
        padding: 0px;
        .interactive-overlay-content {
          h1,
          h2,
          h3,
          h4,
          h5,
          h6 {
            color: #000;
          }
        }
        &:not(:last-child) {
          padding-bottom: 2rem;
        }
        img {
          height: 300px;
        }
      }
      display: block;
      opacity: 1;
      z-index: 1;
    }
  }
}

@media screen and (max-width: 767px) {
  #home-services {
    padding-right: 1rem;
    padding-left: 1rem;
    .service-tablist-wrapper .home-services-titles {
      padding-left: 1rem;
      padding-right: 1rem;
    }
    .home-short-image {
      margin-top: 1.5rem;
    }
  }

  .interactive-overlay {
    img {
      margin-bottom: 1.5rem;
    }
  }
}

@media screen and (max-width: 576px) {
  #svg-container .tab-content > .tab-pane.interactive-overlay {
    .interactive-overlay-content {
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        margin-bottom: 1rem;
      }
    }
    img {
      margin-bottom: 1rem;
      height: 200px;
    }
  }
}

// single blog
.single-blog-main {
  @extend .py-5;
  h1 {
    line-height: normal;
  }
}

.blog-share {
  .norm_row {
    width: auto !important;
  }
}
